<nav class="navbar navbar-dark bg-dark">
  <div>
    <a class="navbar-brand" style="color: goldenrod" href="">Todo App</a>
    <a
      class="navbar-brand"
      [routerLink]="['/todo-list']"
    >
      Tasks
    </a>
  </div>
  <div class="nav-justified">
    <button class="btn btn-light" (click)="login()" *ngIf="!isAuthenticated">
      Log in
    </button>
    <button
      class="btn btn-outline-light"
      (click)="logout()"
      *ngIf="isAuthenticated"
    >
      Log out
    </button>
  </div>
</nav>
